@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
*{
    font-family: 'Inter' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main_color:#c9f31d;
    --p_color:#8a8a8a;
    --bg_color:#1f1f1f;
    --white_color:#fff;
    --black_color:#070707;
    --border_color: rgba(255, 255, 255, 0.1);
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: auto;
    background: #111111;
}

.conteaner{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
    font-family: "DM sans" sans-serif;
}

span{
    color: var(--main_color);
}

p{
    color: var(--p_color);
}

section{
    padding: 80px 0;
}

/* btns*/


.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black_color );
    transition: 0.3s;
}
.btn:hover{
    scale: 1.1 ;
}
.top_section{
    text-align: center;
    margin-bottom: 100px;
}
.top_section h2{
     font-size: 30px;
}

/*----- start header -----*/


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.3s;
    z-index: 1000;
}
header.active{
    background-color: var(--black_color);
    border-bottom: 1px solid #56565697;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
}

header nav .logo img{

    width: 150px;
    margin-top: 15px
}

header nav .links{
    display: flex;
    gap: 40px ;
    
}
header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}
header nav .links a:hover{
    color: var(--main_color);
}

header nav .icons{
    display: flex;
    gap: 40px;
}
header nav .icons a{
    color: var(--main_color);
    font-size: 28px;
    transition: 0.3s;
}
header nav .icons a:hover{
    scale: 1.4;
}


/*----- satrting hero -----*/
.hero{
    padding-top: 100px;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .div_text{
    width: 50%;
}
.hero .div_text h4{
    color: var(--p_color);
    font-size: 25px;
    margin-bottom: 15px;
}
.hero .div_text h1{
    font-size: 50px;
}
.hero .div_text h2{
    font-size: 50px;
    font-weight: normal;
    line-height: 0.9;
}
.hero .div_text p{
    margin: 30px 0;
    font-size: 15px;
    width: 80%;
    line-height: 1.7;
}

.hero .btn{
    font-size: 20px;
    padding: 18px 50px;
}


.hero .div_img {
    width: 450px;
    position: relative;
    border-radius: 0 0 600px 600px;
    overflow: hidden;
}

.hero .div_img .bg_img{
    width: 450px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

/*----- about -----*/

.about{

}
.about .container{
    background-color: var(--black_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px;
    padding: 50px;
}

.about .div_text{
    width: 50%;
}
.about .div_text h5{
    color: var(--p_color);
    font-size: 18px;
    text-transform: capitalize;

}
.about .div_text h2{   
    font-size: 45px;
    margin: 25px 0 5px;

}
.about .div_text h4{ 
    font-size: 30px;
    margin-bottom: 20px;

}
.about .div_text p{ 
    line-height: 1.8;
}
.about .div_text ul{ 
    display: flex;
    color: var(--white_color);
    margin: 30px 0 25px;
    flex-wrap: wrap;
}
.about .div_text ul li{ 
    width: 45% ;
    font-weight: bold;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.about .div_text ul li i{
    color: var(--main_color);
}

.about .div_img{
    width: 40%;
}

/*-----End About Section----*/

/*-----Start Services----*/  

.services .boxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.services .boxs .box{
    width: 30%;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid var(--border_color );
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.services .boxs .box:hover{
    border-color: var(--main_color);
}

.services .boxs .box i{
    color: var(--main_color );
    font-size: 70px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.services .boxs .box:hover i{
    scale: 1.2;
}

.services .boxs .box h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.services .boxs .box p{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.7;
}


/*----Start contact-----*/

.contact .container{
    display: flex;
    justify-content: space-between;
}

.contact .top_section{
    margin-bottom: 100px;
}

.contact .social_contac{
    width: 30%;
}

.contact .social_contac h2{
    color: var(--white_color);
    margin-bottom: 40px;
}

.contact .social_contac .links{
    display: flex;
    flex-direction: column;
}
.contact .social_contac .links a{
    color: var(--white_color);
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
.contact .social_contac .links a i{
    color: var(--bg_color);
    margin-right: 15px;
    width: 45px;
    height: 45px;
    background-color: var(--main_color);
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
.contact .social_contac .links a:hover{
    left: 15px;
}


.contact form{ 
    margin-top: 5px;
    width: 60%;
    text-align: center;
}

.contact form .inpts_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .inpts_form input,
.contact form .inpts_form textarea{
    border-radius: 5px;
    padding: 20px;
    outline: none;
    background-color: var(--bg_color);
    color: white;
    margin-bottom: 30px;
    border: 1px solid var(--border_color);
    transition: 0.3s;
}

.contact form .inpts_form input{
    width: 48%;
}

.contact form .inpts_form textarea{
    width: 100%;
}

.contact form .inpts_form input:focus,
.contact form .inpts_form textarea:focus{
    border-color: var(--main_color );
}

.contact .btn{
    outline: none;
    padding: 15px 35px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.contact .btn:hover{
    scale: 1.1;
}


/*----Start Responsive----*/
